.wrapper {
    position: relative;
    margin: 0 auto;
    width: 40%;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #ef5350;
}

table {
    width: 100px !important;
}

.frequency-box {
    position: absolute;
    right: 0;
}

#output {
    width: 550px;
    min-height: 200px;
    margin-left: 15px;
    word-wrap: break-word;
}

.input-field textarea:focus + label {
    color: #ef5350 !important;
}
  
.row .input-field textarea:focus {
    border-bottom: 1px solid #ef5350 !important;
    box-shadow: 0 1px 0 0 #ef5350 !important
}
